* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #575b67;
  position: relative;
  overflow: hidden;
}

.bg {
  width: 180rem;
  height: 180rem;
  border-radius: 50%;
  background-color: #3b3f4b;
  position: absolute;
}

.bg-1 {
  left: -45%;
  top: -10%;
}

.bg-2 {
  right: -15%;
  top: 35%;
}

.card {
  width: 120rem;
  height: 70rem;
  background-color: #5c5e66;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.4);
}

.card-bg-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
}

.card-bg {
  width: 100%;
  height: 200%;
  background-color: #52555d;
  position: absolute;
  left: -55%;
  top: -50%;
  border-radius: 0 50% 50% 0;
  transform: rotateZ(-40deg);
}

.card-heading {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25rem;
  letter-spacing: 5rem;
  text-transform: uppercase;
  color: #77797d;
  opacity: 0.3;
}

.card img {
  position: absolute;
  top: -5%;
  left: -2%;
}

.shadow-1 {
  width: 20rem;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 30%;
  background: linear-gradient(to right,
      transparent,
      rgba(0, 0, 0, 0.7),
      transparent);
  border-radius: 0 50% 50% 0;
  filter: blur(3rem);
  opacity: 0.5;
  transform: rotateY(45deg);
}

.shadow-2 {
  width: 25rem;
  height: 25rem;
  position: absolute;
  bottom: -2%;
  left: 28%;
  background: linear-gradient(to right,
      transparent,
      rgba(0, 0, 0, 0.7),
      transparent);
  border-radius: 50%;
  filter: blur(3rem);
  opacity: 0.5;
}

.shadow-3 {
  width: 55rem;
  height: 15rem;
  background-color: #000;
  background: linear-gradient(to right,
      transparent,
      rgba(0, 0, 0, 0.4),
      transparent);
  transform: rotateX(70deg) rotateZ(-30deg) translateX(5rem);
  filter: blur(5rem);
}

.card-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 5rem;
}

.small-heading {
  margin-top: 6rem;
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #e9954f, #e4622a 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.main-heading {
  font-size: 7rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 0 0 5rem 3rem;
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card-content p {
  font-size: 1.4rem;
  color: #aaa;
  line-height: 1.2;
  font-weight: 300;
  width: 40rem;
  margin: 1rem 0 5rem 3rem;
}

.price-bg {
  position: absolute;
  bottom: 5rem;
  font-size: 12rem;
  color: #77797d;
  opacity: 0.5;
}

.price-main {
  position: absolute;
  bottom: 8rem;
  left: 17rem;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.card-btn {
  position: absolute;
  bottom: 11rem;
  right: 10rem;
  width: 20rem;
  height: 5rem;
  border-radius: 0.7rem;
  border: none;
  background: linear-gradient(to right, #e9954f, #e4622a);
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-btn:active {
  transform: translateY(0.2rem);
}